.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17vh;
    width: 100%;
    padding-top: 1rem;

}

.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.logoTitle>h1 {
    font-size: 4rem;
    margin-bottom: -.7rem;
    font-family: var(--font-duru-sans);
}

.logoTitle {
    padding: 0 5rem;
    border-bottom: 2px solid #d3830b;
}

.logoSubtitleText {
    font-size: 1.25rem;
    font-family: var(--font-inconsolata);
    padding-top: .1rem;
}