.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding-top: 1rem;
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoTitle>h1 {
    font-size: 4rem;
    margin-bottom: -.7rem;
    font-family: var(--font-duru-sans);
}

.logoTitle {
    padding: 0 5rem;
    border-bottom: 2px solid #d3830b;
}

.logoSubtitleText {
    font-size: 1.25rem;
    font-family: var(--font-inconsolata);
    padding-top: .1rem;
}