.urlListOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.urlListTitle {
    font-size: 2rem;
    font-family: var(--font-duru-sans);
    padding: .5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-decoration: underline;
    text-underline-offset: .4rem;
}

.urlListInner {
    width: 100%;
}

.urlTable {
    table-layout: fixed;
    width: 100%;
}

.tableHeader>tr>th {
    padding-bottom: .2rem;
    text-decoration: underline;
    text-underline-offset: .2rem;
    color: #d3830b;
}

.tableHeader>tr>th:nth-child(odd) {
    float: left;
    padding-left: 2rem;
}

.tableRow {
    border: .1rem solid #d3830b;
    max-width: 75vw;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.tableRow>td {
    text-decoration: underline;
    max-width: 40vw;
    overflow-x: auto;
    white-space: nowrap;
}

.tableRow>td::-webkit-scrollbar {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.tableRow>td::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.tableRow>td::-webkit-scrollbar-thumb {
    background-color: #d3830b;
    border-radius: .2rem;
}

.tableRow>td:nth-child(even) {
    background-color: #d3830b;
    text-align: center;
    text-decoration: underline;
}

.deleteButton {
    background-color: transparent;
    border: none;
    color: #d3830b;
    font-size: 1.05rem;
    cursor: pointer;
    text-decoration: bold;
    width: 100%;
    height: 100%;
    padding: .23rem;
    margin: auto;
}

.deleteButton:hover {
    color: #ff0000;
}



.tableRow>td:nth-child(odd) {
    background-color: #0f0f0f;
}

.inputUrl {
    padding-left: .6rem;
    color: #cacaca;
}