.urlListOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.urlListTitle {
    font-size: 2rem;
    font-family: var(--font-duru-sans);
    padding: .5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-decoration: underline;
    text-underline-offset: .4rem;
}

.urlTable {
    padding: .5rem;
}

.urlListInner {
    width: 100%;
}

.urlTable {
    width: 100%;
}

.tableHeader>tr>th {
    padding-bottom: .2rem;
    text-decoration: underline;
    text-underline-offset: .2rem;
    color: #d3830b;
}

.tableHeader>tr>th:nth-child(odd) {
    float: left;
    padding-left: 5rem;
}

.tableRow {
    border: .1rem solid #d3830b;
    max-width: 70vw;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.tableRow>td {
    text-decoration: underline;
    padding-top: .2rem;
    padding-bottom: .2rem;
    max-width: 40vw;
    overflow-x: auto;
    white-space: nowrap;
}

.tableRow>td::-webkit-scrollbar {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.tableRow>td::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.tableRow>td::-webkit-scrollbar-thumb {
    background-color: #d3830b;
    border-radius: .2rem;
}

.tableRow>td:nth-child(even) {
    background-color: #d3830b;
    text-align: center;
    text-decoration: underline;
}

.tableRow>td:nth-child(odd) {
    padding-left: .6rem;
    background-color: #0f0f0f;
}