.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.7%;
    font-size: 1rem;
    font-family: var(--font-inconsolata);
    color: #cacaca;
    font-style: italic;
    font-weight: 300;
    letter-spacing: .00001rem;
}