.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2.7%;
    font-size: 1rem;
    font-family: var(--font-inconsolata);
    color: #cacaca;
    font-weight: 300;
    letter-spacing: .00001rem;
}

.creatorSig {
    padding-left: 1rem;
    font-style: italic;
}

.accountInfo {
    padding-right: 9.5rem;
    font-size: 1.1rem;
}

.logoff {
    font-size: 1.1rem;
    font-weight: 500;
    padding-right: .5rem;
    color: #d3830b;
}

.logoff:hover {
    text-decoration: double underline;
}

@media screen and (max-width: 850px) {
    .creatorSig {
        position: absolute;
        bottom: 0;
        left: 0;
        color: transparent;
    }

    .accountInfo {
        padding-right: 1rem;
    }
}