.verifyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.verifyText {
    width: 60%;
}

.verifyForm label {
    text-align: center;
}

.verifyInput {
    width: 40%;
    padding: .12rem 0;
    border: .1rem solid #d3830b9a;
    font-size: 1.1rem;
    text-align: center;
    font-family: var(--font-inconsolata);
    color: #cacaca;
    background-color: #242424ab;
    margin-bottom: .5rem;

}

.verifySubmit {
    background-color: #d3830b9a;
    width: 60%;
    height: 2.5rem;
    font-family: var(--font-inconsolata);
    font-size: 1.3rem;
    margin-bottom: 1rem;
    transition: .2s;
}