@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-duru-sans);
  --font-mono: var(--font-inconsolata);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.divider {
  height: .15rem;
  width: 100%;
  background-color: #9767005e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}