.urlInputContainer {
    margin-top: 30vh;
    margin-bottom: 3rem;
    border: .12rem solid #d3830b;
    border-radius: .1rem;
    width: 50vw;
    font-family: var(--font-inconsolata);
    background-color: #0f0f0f;
}

.urlInputForm {
    width: 100%;
}

.urlInput,
.urlInputButton {
    padding: .1rem;
}

.urlInput {
    border: none;
    outline: none;
    font-size: 1.1rem;
    width: 70%;
    height: 2rem;
    padding: 0 .4rem;
    transition: .2s;
}

.urlInput:hover {
    background-color: #bdbaba00;
    color: #d3830b;
    font-size: 1.15rem;
    transition: .2s;
}

.urlInput:focus {
    color: #d3830b;
    font-size: 1.1rem;
    transition: .4s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}


.urlInputButton {
    border: none;
    outline: none;
    font-size: 1.25rem;
    cursor: pointer;
    letter-spacing: .02rem;
    width: 30%;
    background-color: transparent;
    border-left: .01rem double #d3830b;
    color: #d3830b;
}

.urlInputButton:hover {
    background-color: #d3830b;
    box-shadow: .05rem .05rem .05rem .05rem #d3830b;
    color: #ffffff;
    transition: .4s;
}