.loginBtnContainer {
    position: fixed;
    right: 0rem;
    top: 4.5rem;
}

.loginBtn {
    border: .1rem solid #d3830b;
    color: #d3830b;
    background-color: #0f0f0f;
    font-family: var(--font-inconsolata);
    font-size: 1.2rem;
    padding: .25 1rem;
    border-radius: .2rem;
    cursor: pointer;
    border-radius: .6rem 0 0 .6rem;
    transition: .2s;
}

.loginBtn:hover {
    font-size: 1.3rem;
    transition: .4s;
}

.loginBtn:active {
    font-size: 1.2rem;
}